/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */


.recepty {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
    color: white;
    justify-content: center;
    background-size: cover;
    justify-self: center;
}

.doporucujeme {
    display:flex;
    flex-direction: column;
    justify-self: center;
    padding: 10px;
}

.hlavni-recept {
    align-self: center;
    min-height: 200px;
    background-image: url('images/salat.jpg');
    color: white;
    background-size: cover;
    text-align: left;
    font-size: 28px;
}

.recept-recept2 {
    background-image: url('images/chlebicek.jpg');
    background-size: cover; 
    min-height: 90px; 
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid white
}

.recept-recept3 {
    background-image: url('images/cizrna.jpg');
    background-size: cover;
    min-height: 90px; 
    flex-grow: 1; 
    flex-shrink: 1;
    border: 1px solid white
}

.recept-recept4 {
    background-image: url('images/tacos.jpg');
    background-size: cover;
    min-height: 90px; 
    flex-grow: 1;
    flex-shrink: 1; 
    border: 1px solid white
}

.recept-recept5 {
    background-image: url('images/burger.jpg');
    background-size: cover;
    min-height: 90px; 
    flex-grow: 1; 
    flex-shrink: 1;
    border: 1px solid white
}

.recept-kategorie {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400px;
    margin-top: 10px
}

.recept-komentare {
    text-align: right;
    margin-top: -15px;
    font-size: 14px;
    font-weight: 400px;
    margin-right: 10px;
}

.recept-nazev {
    font-family: sans-serif;
    margin-left: 10px;
    flex-wrap: wrap;
    font-size: 18px;
}


/* ----------Tablet--------------------- */


@media (min-width: 250px){
    .doporucujeme {
    flex-direction: row;
    flex-wrap:wrap;
    padding: 20px;
        }
    
    .recepty {
    flex-direction: row;
    }

    .hlavni-recept {
    min-height: 250px;
    font-size: 36px;
    }

    .recept-recept2 {
    min-height: 150px;
    }

    .recept-recept3 {
    min-height: 150px;
    }
    
    .recept-recept4 {
    min-height: 150px;
    }

     .recept-recept5 {
     min-height: 150px;
    }
    }
        

